version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: library_db
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:mysql://mysqldb:3306/library_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      DB_USERNAME: root
      DB_PASSWORD: root
    depends_on:
      - mysqldb

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "5173:80"  # Expose Nginx on 5173 to mimic dev port or 80. Let's use 3000 or 80.
    depends_on:
      - backend

volumes:
  db_data:
