spring:
  application:
    name: library-system
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/library_db?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

app:
  jwt:
    secret: ${JWT_SECRET:9a4f2c8d3b7e1f0a2c5b8e4f6a9d0c3b2e5f8a1d4b7c0e3a6d9f2c5b8a1d4b7}
    expiration-ms: 86400000 # 1 day
